 <%= simple_form_for(@project) do |f| %>
  <%= f.input :title,placeholder: "your project name"%>
  <%= f.input :description, placeholder: "short description 2-3 lines", as: :text, input_html: {rows: 3,}, placeholder: "a short description (a few lines)" %>
  <%= f.input :detail, as: :text, input_html: {rows: 10,}, placeholder: "your full article (copy/past)" %>

  <%= f.input :owner, placeholder: "owner of the project" %>
  <%= f.input :main_contractor, placeholder: "main contractor of the project" %>
  <%= f.input :year_completion, placeholder: "2020" %>
  <%= f.input :duration, placeholder: "duration in months" %>
  <%= f.input :labor_force, placeholder: "average number of men at work" %>
  <%= f.input :latitude, placeholder: "example : 46.578654" %>
  <%= f.input :longitude, placeholder: "example : 7.878654" %>

  <%= f.input :youtube, placeholder: "your youtube link here"%>

  <div >
    <div class="form_align">
    <%= f.label :images%>
      <div>
      <%= f.file_field :images, multiple: true %>
      </div>
    </div>

    <div class="form_align">
    <%= f.label :PDF %>
      <div>
        <%= f.file_field :pdf %>
      </div>
    </div>

    <div class="form_align">
    <%= f.label :"Model 3D (format IFC)" %>
      <div>
      <%= f.file_field :ifc_model %>
      </div>
    </div>
  </div>

  <div class="form_align">
    <%= f.submit class: "btn btn-primary" %>
  </div>

  <% end %>

<%= @project.errors[:images] %>
