<div class="activity-list">
  <div class="list-group">
    <% @projects.each do |project| %>
      <%= link_to project.title, project_path(project),class: "list-group-item list-group-item-action" %>
    <%end%>
  </div>
</div>
<div class="company">
  <select class="form-select" aria-label="Default select example">
    <option <%= @selected_company_name.blank? ? 'selected' : nil %> value="">Search by company</option>
    <% @companies.each do |company| %>
      <option <%= @selected_company_name == company ? 'selected' : nil %>><%= company %></option>
    <% end %>
  </select>
</div>
<div class="parent"
  data-controller="projects"
  data-projects-markers-value="<%= @markers.to_json %>"
  data-projects-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
