<div class="container">
  <h1 class="d-flex justify-content-between">My projects<%= link_to "Create a new project", new_project_path, class: "btn btn-primary mt-0 mb-2" %></h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @projects.each do |project| %>
      <div class="col">
        <%= link_to project, class: "noul" do %>
          <div class="card h-100">
            <%= image_tag project.images.first, width: "322px", height: "240px" %>
            <div class="card-body">
              <h5 class="card-title"><%= project.title %></h5>
              <p class="card-text"><%= truncate(project.description,length: 100) %></p>
              <%= link_to "Edit project", edit_project_path(project), class: "btn btn-primary", data: { turbo_method: :edit }, class: "btn btn-outline-primary" %>
              <%= link_to "Delete project", project_path(project), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this project ?" }, class: "btn btn-outline-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
