<!--Container -->
<div class="container">
  <!-- Carousel -->
  <div class="carousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- Carousel indicators-->
        <div class="carousel-indicators">
          <% @project.images.each.with_index do |image, i| %>
            <li data-bs-target="#carousel" data-bs-slide-to="<%= i %>" class="<%= i == 0 ? 'active' : ''%>"></li>
          <% end %>
        </div>
        <!-- Carousel Images-->
        <div class="carousel-inner-images">
          <% @project.images.each.with_index do |image, i| %>
            <div div class="carousel-item <%= 'active' if i == 0 %>">
              <%= image_tag(image) %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- Carousel butons-->
      <div class="carousel-butons">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Project title -->
    <div class="project-title">
      <h1 class="pbh1"> <%= @project.title %></h1>
    </div>
    <!-- About Project -->
    <div class="project-details row ">
      <!-- Project Description -->
      <div class="project-descriptions col-sm-8">
        <p><%= @project.description %></p>
        <p><%= @project.detail %></p>
      </div>
      <!-- Infos about Project -->
      <div class="project-infos col-sm-4">
        <!-- Attached files -->
        <div class="files">
          <% if @project.ifc_model.attached? %>
            <%= link_to ifc_project_path, target: :_blank do %>
              <%= image_tag("3D_icon.png", alt: 'Logo', width: 50)%>
            <% end %>
          <% end %>
          <% if @project.pdf.attached? %>
            <%= link_to @project.pdf.url, target: :_blank do %>
              <%= image_tag("pdf_icon.png", alt: 'Logo', width: 50)%>
            <% end %>
          <% end %>
        </div>
        <br>
        <!-- Separator -->
        <div class="separator">
          <%= image_tag("logoifc.png", width: 300)%>
        </div>
        <br>
        <!-- Mini Infos -->
        <div class="project-infos-1">
          <br>
          <p class="pst">Project Owner</p>
          <p><%= @project.owner %></p>
          <p class="pst">Contractor</p>
          <p><%= @project.main_contractor %></p>
          <p class="pst">Duration</p>
          <p><%= @project.duration %></p>
        </div>
        <div class="project-infos-2">
          <p class="pst">Total Invested</p>
          <p><%= @project.budget %></p>
          <p class="pst">Total Colaborators</p>
          <p><%= @project.labor_force %></p>
          <p class="pst">Geolocalization</p>
          <p>long - <%= @project.latitude %></p>
          <p>lat - <%= @project.longitude %></p>
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <div class="back-btn-project">
      <%= link_to "Go to all projects", projects_path, class: "btn btn-primary" %>
      <% if user_signed_in?  %>
        <%= link_to "Go to my projects", my_projects_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
