<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= @project.detail %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @project.owner %>
  </p>

  <p>
    <strong>Main contractor:</strong>
    <%= @project.main_contractor %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= @project.year_completion %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @project.duration %>
  </p>

  <p>
    <strong>Labor force:</strong>
    <%= @project.labor_force %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= @project.latitude %>
  </p>
  <p>
  <strong>Pdf</strong>
    <% @project.pdfs.each do |my_pdf| %>
     <p>Click with right button and open image in new tab<td><%= image_tag my_pdf.pdf_file, width: "1000px" if my_pdf.pdf_file.attached? %></td></p>
  <% end %>

  </p>

  <p>
    <strong>Longitude:</strong>
    <%= @project.longitude %>
  </p>

  <%= link_to "Go to all projects", projects_path, class: "btn btn-primary" %>
</div>
<div data-controller="view-ifc">
  <canvas id="myCanvas"></canvas>
</div>
<div>
  <% @project.photos.each do |picture| %>
      <td><%= image_tag picture.image, width: "1000px" if picture.image.attached? %></td>
  <% end %>
</div>
