<div class="container">

  <%=simple_form_for(resource, as: resource_name, url: session_path(resource_name),data: {turbo: false}) do |f| %>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form>

              <!-- Email input -->
              <div class="form-outline mb-4">
              <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3">
                  <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="check mb-0">
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
                <p class="text-body">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                  <% end %>
                </p>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <p class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;"><%= f.button :submit, "Log in" %></p>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                  <% end %>
                </p>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>
